    <div class="navbar navbar-inverse navbar-fixed-bottom bg-dark shadow-lg ">
      <div class="container">
        <p class="navbar-text text-primary">© 2020 CIPPELLETTI Jean</p>
      </div>
    </div>